body {
    font-size: 16px;
    font-family: placeholder: Times New Roman
    background: transparent !important;
    background-color: #ffffff !important;
    color: #000 !important;
    box-shadow: none !important;
    text-shadow: none !important;
    }

footer, header,
div.footer, div.header {
  background-color: #ffffff;
}

h1 {
  font-size: 16px;
  text-align: center;
}

h2 {
  font-size: 16px;
  text-align: left;
}

h3 {
  font-size: 15px;
  text-align: left;
}

